
@{
    ViewBag.Title = "Index";
}
    <script src="~/Scripts/Booking.js"></script>
<h2>Booking page</h2>

<div>
    <i class="ace-icon glyphicon glyphicon-plus"></i>
    <button class="btn btn-lg btn-success">
        <i class="ace-icon fa fa-check"></i>
        Booking
    </button>
</div>
