
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/CustomerSupport.js"></script>
<h2>Customer support page</h2>
<div class="ace-settings-container" id="ace-settings-container">
</div><!-- /.ace-settings-container -->

<div class="page-header">
    <h1>

        <div class="page-content">
            FAQ
            <script src="~/Scripts/CustomerSupport.js"></script>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                frequently asked questions
            </small>
    </h1>
</div><!-- /.page-header -->

<div>
    <label class="col-sm-3 control-label no-padding-right" for="form-field">Select Your Company Name: </label>
    <div class="col-sm-3">
        <div class="dropdown">
            <select class="form-control" id="companyddl">
                
            </select>
        </div>
    </div>
</div>
<button >Show</button>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="tabbable">
            <div class="tab-content no-border padding-24">
                <div id="faqlist" class="panel-group accordion-style1 accordion-style2">

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
</div><!-- /.row -->
</div>