@*@model IEnumerable<OnlineGasAgencySystem.Models.Connection>*@
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Connection.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Form Elements - Ace Admin</title>

    <meta name="description" content="Common form elements and layouts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/~/~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/~/~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/chosen.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/bootstrap-colorpicker.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/~/~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/~/~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/~/~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/~/~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/~/~/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/~/~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/~/~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/~/~/assets/js/html5shiv.min.js"></script>
    <script src="~/~/~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">

    <div class="main-container ace-save-state" id="main-container">
        @* <script type="text/javascript">
                try { ace.settings.loadState('main-container') } catch (e) { }
            </script>

            <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
                <script type="text/javascript">
                    try { ace.settings.loadState('sidebar') } catch (e) { }
                </script>
            </div>*@




        <div class="page-content">


            @*<div class="page-header">
                    <h1>
                        Form Elements
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Common form elements and layouts
                        </small>
                    </h1>
                </div><!-- /.page-header -->*@

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> FullName: </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="Enter Your Full Name" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">Email-id: </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1-1" placeholder="Enter Your Email-id" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password: </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-2" placeholder="Enter Your Password" class="col-xs-10 col-sm-5" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="phone">Phone Number: </label>

                            <div class="col-sm-9">
                                <input type="tel" name="telphone"
                                       pattern="[0-9]{10}" title="Ten digits code" required
                                       placeholder="Enter Your Phone Number" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="altphone">Alternate Phone Number: </label>

                            <div class="col-sm-9">
                                <input type="tel" id="altphone" name="altphone"
                                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                       required placeholder="Enter Your Alternate Phone Number" class="form-control" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-4">Address: </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1-4" placeholder="Enter Your Address" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-5">Customer-ID: </label>

                            <div class="col-sm-9">
                                <input type="number" id="form-field-1-5" placeholder="Enter Your Customer-ID" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-6">Connection Type: </label>
                            <div class="col-sm-3">
                                <div class="dropdown">
                                    <select class="form-control" id="form-field-select-1">
                                        <option value=""></option>
                                        <option value="1">Private</option>
                                        <option value="2">Normal</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-7">Company Name: </label>
                            <div class="col-sm-3">
                                <div class="dropdown">
                                    <select class="form-control" id="form-field-select-2">
                                        <option value=""></option>
                                        <option value="1">HP gas</option>
                                        <option value="2">Bharat gas</option>
                                        <option value="3">Indane gas</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="space-4"></div>





                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Submit
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>

                        <div class="hr hr-24"></div>

                        <div class="row">


                        </div>
                </div>
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.page-content -->



    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_grid-table" dir="ltr" style="width: 583px;">
            <div class="jqgrid-overlay ui-widget-overlay" id="lui_grid-table"></div>
            <div class="loading ui-state-default ui-state-active" id="load_grid-table" style="display: none;">Loading...</div>
            <div class="ui-jqgrid-view " role="grid" id="gview_grid-table" style="width:800px;">
                <div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix">
                    Your Connections
                </div>
                <div class="ui-jqgrid-hdiv ui-state-default" style="width: 800px;">
                    <div class="ui-jqgrid-hbox">
                        <table class="ui-jqgrid-htable ui-common-table " style="width: 800px;" role="presentation" aria-labelledby="gbox_grid-table">
                            <thead>
                                <tr class="ui-jqgrid-labels" role="row">
                                    <th id="grid-table_id" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 42px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_id" class="ui-jqgrid-sortable">
                                            Connection Type
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_sdate" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 63px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_sdate" class="ui-jqgrid-sortable">
                                            Username
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_name" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 105px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_name" class="ui-jqgrid-sortable">
                                            Email-Id
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_stock" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 49px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_stock" class="ui-jqgrid-sortable">
                                            Password
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_ship" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 63px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_ship" class="ui-jqgrid-sortable">
                                            Phone number
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_note" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 103px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_note" class="ui-jqgrid-sortable">
                                            Alt Ph-no.
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>

                                    <th id="grid-table_note" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 103px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_note" class="ui-jqgrid-sortable">
                                            Address
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>
                                    </th>
                                    <th id="grid-table_note" role="columnheader" class="ui-th-column ui-th-ltr ui-state-default" style="width: 103px;">
                                        <span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                        <div id="jqgh_grid-table_note" class="ui-jqgrid-sortable">
                                            Customer id
                                            <span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-n"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-sort-ltr ui-state-disabled ui-icon ui-icon-triangle-1-s"></span></span>
                                        </div>


                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="ui-jqgrid-bdiv" style="height: 350px; width:800px;">
                    <div style="position:relative;">
                        <div></div>
                        <table id="grid-table" tabindex="0" role="presentation" aria-multiselectable="true" aria-labelledby="gbox_grid-table" class="ui-jqgrid-btable ui-common-table" style="width: 800px;">
                            <tbody>


                                <tr role="row" id="1" tabindex="-1" class="jqgrow ui-row-ltr ui-widget-content">
                                    <td role="gridcell" style="" title="1" aria-describedby="grid-table_id"></td>
                                    <td role="gridcell" style="" title="connectionid" aria-describedby="grid-table_sdate"></td>
                                    <td role="gridcell" style="" title="connectiontype" aria-describedby="grid-table_name"></td>
                                    <td role="gridcell" style="" title="tdob" aria-describedby="grid-table_stock"></td>
                                    <td role="gridcell" style="" title="tdod" aria-describedby="grid-table_ship"></td>
                                    <td role="gridcell" style="" title="bookingid" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="price" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="companyname" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="statustype" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="username" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="userphone" aria-describedby="grid-table_note"></td>
                                    <td role="gridcell" style="" title="useraddress" aria-describedby="grid-table_note"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui-jqgrid-resize-mark" id="rs_mgrid-table">&nbsp;</div>
            <div id="grid-pager" class="ui-jqgrid-pager ui-state-default ui-corner-bottom" dir="ltr" style="width: 800px;">
                <div id="pg_grid-pager" class="ui-pager-control" role="group">
                    <table class="ui-pg-table ui-common-table ui-pager-table ">
                        <tbody>
                            <tr>
                                <td id="grid-pager_left" align="left">
                                    <table class="ui-pg-table navtable ui-common-table">
                                        <tbody>
                                            <tr>
                                                <td class="ui-pg-button ui-corner-all" title="" id="add_grid-table" data-original-title="Add new row">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-plus-circle purple"></span>
                                                    </div>
                                                </td>
                                                <td class="ui-pg-button ui-corner-all" title="" id="edit_grid-table" data-original-title="Edit selected row">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-pencil blue"></span>
                                                    </div>
                                                </td>
                                                <td class="ui-pg-button ui-corner-all" title="" id="view_grid-table" data-original-title="View selected row">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-search-plus grey"></span>
                                                    </div>
                                                </td>
                                                <td class="ui-pg-button ui-corner-all" title="" id="del_grid-table" data-original-title="Delete selected row">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-trash-o red"></span>
                                                    </div>
                                                </td>
                                                <td class="ui-pg-button ui-state-disabled" style="width:4px;" data-original-title="" title="">
                                                    <span class="ui-separator"></span>
                                                </td>
                                                <td class="ui-pg-button ui-corner-all" title="" id="search_grid-table" data-original-title="Find records">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-search orange"></span>
                                                    </div>
                                                </td>
                                                <td class="ui-pg-button ui-corner-all" title="" id="refresh_grid-table" data-original-title="Reload Grid">
                                                    <div class="ui-pg-div">
                                                        <span class="ui-icon ace-icon fa fa-refresh green"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                @* <td id="grid-pager_center" align="center" style="white-space: pre; width: 339px;">
                                        <table class="ui-pg-table ui-common-table ui-paging-pager">
                                            <tbody>
                                                <tr>
                                                    <td id="first_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="First Page">
                                                        <span class="ui-icon ace-icon fa fa-angle-double-left bigger-140"></span>
                                                    </td>
                                                    <td id="prev_grid-pager" class="ui-pg-button ui-corner-all ui-state-disabled" title="Previous Page">
                                                        <span class="ui-icon ace-icon fa fa-angle-left bigger-140"></span>
                                                    </td>
                                                    <td class="ui-pg-button ui-state-disabled">
                                                        <span class="ui-separator"></span>
                                                    </td>
                                                    <td id="input_grid-pager" dir="ltr">
                                                        Page
                                                        <input class="ui-pg-input ui-corner-all" type="text" size="2" maxlength="7" value="0" role="textbox"> of
                                                        <span id="sp_1_grid-pager">3</span>
                                                    </td>
                                                    <td class="ui-pg-button ui-state-disabled">
                                                        <span class="ui-separator"></span>
                                                    </td>
                                                    <td id="next_grid-pager" class="ui-pg-button ui-corner-all" title="Next Page">
                                                        <span class="ui-icon ace-icon fa fa-angle-right bigger-140"></span>
                                                    </td>
                                                    <td id="last_grid-pager" class="ui-pg-button ui-corner-all" title="Last Page">
                                                        <span class="ui-icon ace-icon fa fa-angle-double-right bigger-140"></span>
                                                    </td>
                                                    <td dir="ltr">
                                                        <select class="ui-pg-selbox ui-widget-content ui-corner-all" role="listbox" title="Records per Page"><option role="option" value="10" selected="selected">10</option><option role="option" value="20">20</option><option role="option" value="30">30</option></select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td id="grid-pager_right" align="right">
                                        <div dir="ltr" style="text-align:right" class="ui-paging-info">View 1 - 10 of 23</div>
                                    </td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- PAGE CONTENT ENDS -->
    </div>









</body>
</html>


